GOOGLE_API_KEY=<GOOGLE_API_KEY>
PDF_API_KEY=<read-pdf-x-api-key>
LOGIN_API_URL=http://localhost:8080/api/v1/auth/login
QUESTION_API_URL=http://localhost:8081/api/v1/questions
API_EMAIL=<login-api-user-id>
API_PASSWORD=<login-api-password>